html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 200px 1fr;
    display: grid;
    gap: 20px;
    height: 400px;
    width: 700px;
}

div {
    background: #daa520;
}